.box {
    margin: auto;
    border: 1px solid gray;
    border-radius: 15px;
    width: fit-content;
}

label {
    color: white;
    margin-right: 1%;
}

input {
    font-size: 18px;
    color: black;
    background-color: var(--af);
    border: none;
    resize: none;
    width: 100%;
    border-radius: 10px;
    margin-bottom: .25rem;
}

button {
    background-color: var(--highlight-bg);
    color: var(--highlight-blue);
    font-weight: bolder;
    border-radius: 15px;
}

button:hover {
    color: var(--af);
}

.body {
    border-top: 1px solid gray;
    width: 100%;
}

small {
    color: var(--highlight-blue);
}

small:hover {
    text-decoration: underline;
    cursor: pointer;
}

textarea {
    width: 100%;
}

.sign-up .form-group {
    border: 1px grey solid;
    border-radius: 10px;
    padding: .5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.sign-up .form-group.submit-group {
    border: 0;
}

.sign-up input.ng-untouched.ng-invalid {
    border: 0;
}

.sign-up input.ng-touched.ng-invalid {
    border-left: 10px var(--error-red) solid;
}

