<div class="box" >
	<div class="header pt-2 pl-3 pr-3 mr-5">
		<p>{{ login ? "Login" : "Sign Up"}}</p>
	</div>
	<div class="body pt-2 pl-3 pr-3 mr-5">
        <!-- Login Form -->
		<form *ngIf="login" (ngSubmit)="onLogin(f)" #f="ngForm">
			<div class="form-group">
				<label for="email">Email:</label><br>
				<input type="email" name="email" id="email" email required ngModel>
			</div>
			<div class="form-group">
				<label for="password">Password:</label><br>
				<input type="password" name="password" id="password" required minlength="8" ngModel>
			</div>
			<div class="form-group mb-1">
                <button type="submit" class="btn w-100">Log In</button>
                <small (click)="login = !login;">Sign Up for BestConn!</small>
            </div>
        </form>

        <!-- Sign Up Form -->
        <form *ngIf="!login" (ngSubmit)="onSignUp(g)" #g="ngForm" class="sign-up">
			<p style="font-size: small;">* items are required</p>
			<div class="form-group">
				<label for="username">Name: *</label><br>
				<input type="text" name="username" id="username" required ngModel>
			</div>
			<div class="form-group">
				<label for="email">Email: *</label><br>
				<input type="email" name="email" id="email" email required ngModel #email>
				<label for="confirmEmail">Confirm Email: *</label><br>
				<input type="email" name="confirmEmail" id="confirmEmail" email required [pattern]="'^' + email.value + '$'" ngModel>
			</div>
			<div class="form-group">
				<label for="password">Password: *</label><br>
				<input type="password" name="password" id="password" required minlength="8" #password ngModel>
				<label for="confirmPassword">Password: *</label><br>
				<input type="password" name="confirmPassword" id="confirmPassword" required [pattern]="'^' + password.value + '$'" minlength="8" ngModel>
			</div>
			<div class="form-group">
				<label for="pic">Profile Picture:</label><br>
				<input type="file" name="pic" id="pic" minlength="8" ngModel>
			</div>
			<div class="form-group">
				<label for="bio">Bio:</label><br>
				<textarea rows="3" name="bio" id="bio" ngModel></textarea>
			</div>
			<div class="form-group mb-1 submit-group">
                <button type="submit" class="btn w-100">Sign Up</button>
                <small (click)="login = !login;">Login to BestConn!</small>
            </div>
        </form>
	</div>
</div>