<div class="fluid-container post-form">
	<form (ngSubmit)="onPost(f)" #f="ngForm">
		<div class="row">
			<span class="inside-box">
				<i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
			</span>
			<textarea name="message" id="" cols="60%" [rows]="rows" placeholder="Asah dude?" ngModel></textarea>
		</div>
		<div class="row">
			<div>
				<input type="file" name="file" id="file" class="inputfile" (change)="onUpload($event)" ngModel #file/>
				<button type="button" class="btn btn-primary" (click)="file.click()">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </button>
			</div>
			<div class="ml-auto">
				<button type="submit" class="btn btn-primary mr-2">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <span class="post-text pr-2 d-none d-sm-inline">Post</span>
				</button>
			</div>
		</div>
	</form>
</div>