.inside-box {
    position: absolute;
}

textarea {
    font-size: 18px;
    color: white;
    padding-top: 1rem;
    padding-left: 4rem;
    background-color: var(--bg);
    border: none;
    resize: none;
}

textarea::placeholder {
    font-size: 18px;
    color: var(--af);
}

textarea:focus {
    outline: none;
}

.post-options i {
    color: var(--highlight-blue);
}