div.middle {
    border-left: 1px solid var(--superior);
    border-right: 1px solid var(--superior);
    height: 100%
}

div.left {
    padding-left: 7%;
}

div.right {
    align-content: center;
}

div.initializing {
    display: flex;
    margin: auto;
    margin-top: 40vh;
    width: fit-content;
}

@media screen and (max-width: 768px) {
    div.left {
        padding-left: 0;
    }
}