<!-- <div *ngIf="userService.loggedIn" class="row"> -->
<div class="row"> 
    <div class="col-lg-3 col-2 left">
        <app-navbar></app-navbar>
    </div>
    <div class="col-lg-5 col-10 middle pl-0 pr-0">
        <router-outlet></router-outlet>
    </div>
    <div class="col-lg-4 d-none d-lg-block right">
        <!--<app-login></app-login>-->
    </div>
</div>
<!-- <div *ngIf="!userService.loggedIn">
    <div style="padding-top: 10%; text-align: center;">
        <h2><img src="https://cdn.betterttv.net/emote/5ada077451d4120ea3918426/2x">&nbsp;Best Conn</h2>
    </div>
    <app-login></app-login>
</div> -->