div.middle {
    border-left: 1px solid var(--superior);
    border-right: 1px solid var(--superior);
    height: 100vh;
}

div.left {
    padding-left: 7%;
}

@media screen and (max-width: 768px) {
    div.left {
        padding-left: 0;
    }
}

/*app-login {
    position: fixed;
    width: 30%;
    top: 10%;
}*/