@import '~bootstrap/dist/css/bootstrap.css';

/* ================================================= */
/* Global Styles */
/* ================================================= */

* {
    color: white;
}

.row {
    margin: 0 !important;
}

:root{
    --bg: #14212c;
    --highlight-blue: #417aff;
    --highlight-bg: #012a8b;
    --superior: #515151;
    --af: #afafaf;
    --modal-backdrop: #445363;
    --error-red: #9e0c0c;
}

body {
    background-color: var(--bg);
}

label {
    margin: 0 !important;
}

.btn.btn-primary {
    color: white !important;
    background-color: var(--bg) !important;
    border: 1px grey solid !important;
    width: max-content;
}

.btn.btn-primary:hover {
    background-color: var(--highlight-bg) !important;
    border: 1px grey solid !important;
    /* opacity: .8 !important; */
}

input[type=file] {
    display: none !important;
}

i.fa {
    width: 30px;
    color: white;
    padding: 0 !important;
}


/* ================================================= */
/* Set Component Widths */
/* ================================================= */

app-post-form {
    width: 100%;
}



/* ================================================= */
/* Post Modal Box */
/* ================================================= */

.post-modal .inside-box {
    position: absolute;
}

.post-modal .modal-dialog {
    max-width: 642px;
}

.post-modal .modal-header {
    padding: .5rem 0;
}

.modal-backdrop {
    opacity: .2;
    background-color: var(--modal-backdrop);
}

.modal-content{
    background: var(--bg) !important;
    border-radius: 20px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
