.fa {
    position: absolute;
    top:25%;
    left: 2rem;
}

.fa-search {
    color: #afafaf;
}

.fa-cog {
    color: #3060D3;
    top: 0;
    left: 0;
    position: relative;
}

input {
    padding-left: 3rem;
    border-radius: 35px;
    color: #ffffff;
    background-color: #2c3841;
    border: none;
}

input::placeholder{
    color: #bfbfbf;
}

input:focus {
    color: #ffffff;
    background-color: #14212c;
    border: 1px solid #3060D3;
    box-shadow: none;
}